<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @dorm.room %>
</p>

<%= image_tag @dorm.avatar.url(:medium) %>


<%= link_to 'Edit', edit_dorm_path(@dorm) %> |
<%= link_to 'Back', dorms_path %>
